<h3>Extra confirmation is needed to process your payment.</h3>
<p>Your subscription requires confirmation to process your payment to continue access.</p>
<p><%= link_to "Confirm your payment", payment_url(@payment_intent.id) %>. If you have any questions, please hit reply and let us know.</p>
